body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Roboto", cursive, sans-serif;
  color: #252d4a;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}

body {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: rgb(240, 240, 240);
  width: 100%;
  max-width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.app_correct {
  background-color: rgb(230, 252, 223);
  width: 100%;
  max-width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0!important;
}

.app_wrong {
  background-color: rgb(252, 223, 223);
  width: 100%;
  max-width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.score-section {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  font-size: 18px;
  color: #252d4a;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  display: flex;
  padding: 8px;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #284b63;
  cursor: pointer;
  margin: 12px 0;
  transition: all 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  display:flex;
  justify-content: center;
}

button p {
  max-width: 95%;
  min-width: 95%;
}

.question-image {
  height: auto;
  width: 90%;
  margin: 16px 0;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: rgb(221, 221, 221);
}

button:focus {
  outline: none;
}

.answer-select-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.answer-select-section button:first-of-type {
  width: 100%;
}

#try_again {
  margin-top: 18px;
  width: 100%;
}

@media (max-width: 700px) { 
  .app {
    width: 90%;
    margin: 0 auto;
  }
  
  .app_correct {
    width: 90%;
    margin: 0 auto;
  }
  
  .app_wrong {
    width: 90%;
    margin: 0 auto;
  }
  
  #root {
    height: 100%;
    width: 90%;
    padding: 12px;
  }

}
